<div class="panel panel-primary">
  <div class="panel-heading">
  -- Job Detail Information --
  </div>
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-6">

        <div class="form-group">
          <label for="FromStreetAddress">FromStreetAddress</label>
          <input ng-model="ordersDetailCtrl.jobDetails.FromStreetAddress" id="FromStreetAddress" type="text" class="form-control">
        </div>

      </div>
     <div class="col-xs-6">

        <div class="form-group">
          <label for="FromCity">FromCity</label>
          <input ng-model="ordersDetailCtrl.jobDetails.FromCity" id="FromCity" type="text" class="form-control">
        </div>

     </div>
    </div>

    <div class="row">
      <div class="col-xs-6">

        <div class="form-group">
          <label for="FromState">FromState</label>
          <input ng-model="ordersDetailCtrl.jobDetails.FromState" id="FromState" type="text" class="form-control">
        </div>

        <div class="form-group">
          <label for="FromZip">FromZip</label>
          <input ng-model="ordersDetailCtrl.jobDetails.FromZip" id="FromZip" type="text" name="" class="form-control">
        </div>

        <div class="form-group">
          <label for="ToStreetAddress">ToStreetAddress</label>
          <input ng-model="ordersDetailCtrl.jobDetails.ToStreetAddress" id="ToStreetAddress" type="text" class="form-control">
        </div>

        <div class="form-group">
          <label for="ToCity">ToCity</label>
          <input ng-model="ordersDetailCtrl.jobDetails.ToCity" id="ToCity" type="text" class="form-control">
        </div>

        <div class="form-group">
          <label for="ToState">ToState</label>
          <input ng-model="ordersDetailCtrl.jobDetails.ToState" id="ToState" type="text" class="form-control">
        </div>

      </div>
    </div>

  </div>
  <div class="panel-footer">
    <button ng-click="ordersDetailCtrl.save()" class="btn btn-success" type="button" name="button">Save <i class="glyphicon glyphicon-save"></i>
    </button>
  </div>
</div>
