

<head>

  <link rel="stylesheet" href="styles.css">


<div class='container'>

        <div align='Center'>
            <h1 style="margin-top: 600px;">Customer Dashboard</h1>
        </div>
    </div>
</div>
</head>

<body>


  <div ng-controller="CustomerDashController as custDashCtrl">

            <div class="row" id="buttonsAndDisplayBox">
                <div class="col-md-1"></div>
                <div id="buttonDiv" class="col-md-2 btn-group-vertical" role="group">

                    <button class="btn btn-default" ng-click="custDashCtrl.widget = 'dashboard'">Dashboard</button>
                    <br>
                    <button class="btn btn-default" ng-click="custDashCtrl.widget = 'pastmove'">Past Moves</button>
                    <br>
                    <button class="btn btn-default" ui-sref="wizard">New Move</button>
                </div>


                <div id="displayBox" class="col-md-8" align="center">
                    <div ng-show="custDashCtrl.widget =='dashboard'">
                        <div id="dashboard">
                            <h1>Up Coming Move!</h1>
                            <div>

                                <h3>{{custDashCtrl.upComing.companyName}}</h3>
                                <h3>{{custDashCtrl.upComing.fromstreetAddress}}</h3>
                                <h3>{{custDashCtrl.upComing.toStreetAddress}}</h3>
                                <h3>{{custDashCtrl.upComing.movingDay}}</h3>
                            </div>
                        </div>
                    </div>
                    <!-- PAST MOVE TABLE -->
                    <div ng-show="custDashCtrl.widget =='pastmove'">
                        <div id="pastmove">
                            <h1>Past Moves</h1>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Move Start</th>
                                        <th>Move End</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="past in custDashCtrl.calendar">
                                        <td>{{past.title}}</td>
                                        <td>{{past.start}}</td>
                                        <td>{{past.end}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
