<body>
<div ng-app="app">

      <h1>Customer DASH-SH-SH-SH</h1>
      <div id="buttonDiv">
          <button class="btn btn-default" ng-click="vm.widget = 'dashboard'">Dashboard</button>
          <button class="btn btn-default" ng-click="vm.widget = 'pastMove'">Past Moves</button>
          <button class="btn btn-default"><a ui-sref="wizard"></a>New Move</button>
      </div>
      <div id="displayBox" class="row">
          <div class="col-md-4">
              <div>
                  <p>Past Moves</p>
              </div>
          </div>
          <div id="displayBox" class="row">
              <div class="col-md-4">
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
