<div ng-app="app">
  <div ng-controller="WizardController as wizCtrl">
    <wizard on-finish="finishedWizard()">
      <wz-step wz-title="FromAddress">
          <h1 style ="padding-top: 100px;">Where are you moving from, buddeh?</h1>
          <form>
              <input type="text" ng-model="wizCtrl.fromStreetAddress" placeholder="Current Address">
              <input type="text" ng-model="wizCtrl.fromCity" placeholder="City">
              <input type="text" ng-model="wizCtrl.fromState" placeholder="State Abbreviation">
              <input type="text" ng-model="wizCtrl.fromZip" placeholder="Zip">
          </form>
          <input type="submit" wz-next value="Continue" />
      </wz-step>
      <wz-step wz-title="toAddress">
          <h1 style ="padding-top: 100px;">Where are you moving to, friend?</h1>
          <form>
              <input type="text" ng-model="wizCtrl.toStreetAddress" placeholder="New Address">
              <input type="text" ng-model="wizCtrl.toCity" placeholder="City">
              <input type="text" ng-model="wizCtrl.toState" placeholder="State Abbreviation">
              <input type="text" ng-model="wizCtrl.toZip" placeholder="Zip">
          </form>
          <input type="submit" wz-next value="Continue" />
      </wz-step>
      <wz-step wz-title="Dwelling Details">
          <h1 style ="padding-top: 100px;">How big is your crib, guy?</h1>
          <form>
              <input type="text" ng-model="wizCtrl.sqFeet" placeholder="Approximate Square Footage">
          </form>
          <input type="submit" wz-next value="Continue" />
      </wz-step>

      <wz-step wz-title="Moving Date">
        <h1 style ="padding-top: 100px;">When are you moving, pal?</h1>
        <form>
          <input type="text" ng-model="wizCtrl.jobDetail.movingDay" placeholder="Date">
        </form>
        <input type="submit" ui-sref="results({jobDetail:wizCtrl.jobDetail})" />
      </wz-step>
    </wizard>
  </div>
</div>
